.container {
  text-align: center;
}
.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.gif {
  height: 1000vh;
}
.img-holder {
  height: 200px;
  width: 300px;
}
img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}
